<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.choerodon.hap.modeling.mapper.MetadataItemMapper">
    <select id="selectByMetadataIdOrderByUpdateDate" resultType="map">
        SELECT id, metadata_id AS metadataId, data, data_version AS dataVersion, last_update_date AS lastUpdateDate
        FROM metadata_item WHERE metadata_id=#{metadataId}
        ORDER BY last_update_date DESC
    </select>
</mapper>